<!doctype html>
<html>
<head>
    <title>Arithmetic Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="game" data-remaining-time="{{ remaining_time }}" data-result-url="{{ url_for('result') }}">
        <div class="header">
            <div class="timer">Seconds Left: <span id="timer">{{ remaining_time }}</span></div>
            <div class="score">Score: <span id="score">{{ score }}</span></div>
        </div>
        <div class="banner">
            <form id="answer-form" method="post" autocomplete="off">
                <span class="problem" id="problem">{{ problem }}</span>
                =
                <input type="text" name="answer" class="answer" autofocus autocomplete="off">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
